.sd-carousel-wrap{
	position: relative;
    z-index: 9999;
    overflow: hidden;
    .sd-carousel-control{
      height: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 99999;
      opacity: .7;
      width: 10%;
      max-width: 70px;
    	&.left{
    		text-align: left;
   		    left: 25px;
    	}
    	&.right{
    		text-align: left;
   			right: 25px;
    	}
    	.sd-sr-only{
    		position: absolute;
		    width: 1px;
		    height: 1px;
		    margin: -1px;
		    padding: 0;
		    overflow: hidden;
		    clip: rect(0, 0, 0, 0);
		    border: 0;
    	}
    }
    .sd-carousel{
    	transition: all 1s ease-in-out 0s;
  		overflow: hidden;
   		line-height: 0;
   		>div{
   			float:left;
   			>div{
   				position:relative;
   				.sd-carousel-caption{
   					position: fixed;
   					display: none;
    				left: 0;
   					bottom: 0;
    				width: 100%;
    				padding: 5px 10px;
  					background-color: rgba(255,255,255,.3);
    				color: #fff;
    				text-align: left;
   				}
   			}
   			img{
   				width:100%;
   			}
   		}
   		.sd-video-media-container{
   			.sd-play-mask{
   				position: absolute;
    			top: 0;
   				bottom: 0;
    			left: 0;
			    right: 0;
			    z-index: 1;
			    background-image: url("../images/play.svg");
			    background-repeat: no-repeat;
			    background-position: center;
			    background-size: 30%;
			    background-color: black;
			    opacity: 0.8;
   			}
   			video{ 
   			    width: 100%;
			    height: 100%;
			    vertical-align: middle;
   			}
   		} 
    }
    .sd-carousel-bullets{
        position: absolute;
        bottom: 10px;
        left: 5px;
        z-index: 9999;
        width: 100%;
        display: flex;
        justify-content: center;
        ul{
          list-style:none;
          display:flex;
          padding:0;
          li{
            float: left;
            margin:0 4px;
            a{
              div{
                height: 12px;
                width: 12px;
                border: 1px solid #777777;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                &.active{
                background-color: #777777;
                }
              }
            }
          }
        }
    }
}